@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

:root {
  /* Colores Marca Nier: Automata */
  --Blanco: #FFFFFF;
  --Negro: #000000;
  --Ivory: #FFFFF0; 
  --Gris:  grey;
}

body{ 
  background-color:black;
  text-align: center;
}


.Logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    animation-duration: 0.7s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes slide-in {
  from {
    translate: 0 0.1vw;
  }
  to {
    translate: 0 -0.15vw;
  }
}

.Icentral {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  
}

h1{
  font-size: 90px;
  font-family: "Sansita" , sans-serif;
  color: white;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

p.intro {
  font-size: 27px;
  font-family: "Sansita" , sans-serif;
  background-color: var(--Gris);
  color:  white;
  padding: 70px;
  margin: 0 auto;
  margin-top: 40px; 

  
}


h2{
  font-size: 55px;
  font-family: "Sansita" , sans-serif;
  background-color: var(--Blanco);
  color: var(--Negro);
  padding: 70px;
  margin: 0 auto;
}

p.Kaine {
  font-size: 35px;
  font-family: "Sansita" , sans-serif;
  color: var(--Blanco);
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.Ikaine {
  margin: 0 auto;
  display: block;
  text-align: center;
}

p.Nier {
  font-size: 35px;
  font-family: "Sansita" , sans-serif;
  color: var(--Blanco);
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.Inier {
  margin: 0 auto;
  display: block;
  text-align: center;
}

p.Emil {
  font-size: 35px;
  font-family: "Sansita" , sans-serif;
  color: var(--Blanco);
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.Iemil {
  margin: 0 auto;
  display: block;
  text-align: center;
}

p.DevolayPopola {
  font-size: 35px;
  font-family: "Sansita" , sans-serif;
  color: var(--Blanco);
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.IdevolayPopola {
  margin: 0 auto;
  display: block;
  text-align: center;
}